<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">


<f:if condition="{settings.enableLargestContentfulPaint}">
    <sm-largest-contentful-paint label="{f:translate(key: 'plugin.sustainabilitymonitor.largestContentfulPaint.label')}" highlight="{settings.highlightLargestContentfulPaint}"
        highlight-class="{settings.highlightClassLargestContentfulPaint}" highlight-label="{f:translate(key: 'plugin.sustainabilitymonitor.largestContentfulPaint.highlightLabel')}"
        aria-label="{f:translate(key: 'plugin.sustainabilitymonitor.largestContentfulPaint.ariaLabel')}" popover-text="{f:translate(key: 'plugin.sustainabilitymonitor.largestContentfulPaint.popoverText')}">
    </sm-largest-contentful-paint>
</f:if>

<f:if condition="{settings.enableNumberOfRequests}">
    <sm-number-of-requests label="{f:translate(key: 'plugin.sustainabilitymonitor.numberOfRequests.label')}"></sm-number-of-requests>
</f:if>

</html>