/**
 * Override styles for the sm-largest-contentful-paint
 */
sm-largest-contentful-paint::part(container) {
    color: black;
}

sm-largest-contentful-paint::part(value) {
    font-size: 1.2rem;
    flex-basis: 6rem;
}

sm-largest-contentful-paint::part(button) {
    color: black;
}

sm-largest-contentful-paint::part(popover) {
    font-size: 0.8rem;
    color: gray;
}

/**
 * Override styles for the sm-number-of-requests
 */
sm-number-of-requests::part(container) {
    color: black;
}

sm-number-of-requests::part(value) {
    font-size: 1.2rem;
    flex-basis: 6rem;
}

sm-number-of-requests::part(button) {
    color: black;
}

/**
 * Override styles for the sm-co2-emission
 */
sm-co2-emission::part(container) {
    color: black;
}

sm-co2-emission::part(value) {
    font-size: 1.2rem;
    flex-basis: 6rem;
}

sm-co2-emission::part(button) {
    color: black;
}

/**
 * Override styles for the sm-transferred-size
 */
sm-transferred-size::part(container) {
    color: black;
}

sm-transferred-size::part(value) {
    font-size: 1.2rem;
    flex-basis: 6rem;
}

sm-transferred-size::part(button) {
    color: black;
}